<app-header></app-header>
<div class="movie-container">
    <div class="top">
        <div class="left">
            <div class="name">{{ movie?.name}}</div>
            <div class="rating"> 
                
                <app-star-rating [rating]="movie?.rating" [isReadOnly]="true">
                </app-star-rating>
                <span class="rating-value">{{movie?.rating}}</span>
            </div>
            <div class="cover">
                <img [src]="movie?.cover"  [alt]="movie?.name">
            </div>
        </div>
        <div class="right"></div>
    </div>
    
    <div class="bottom"></div>
</div>
